{{#section 'head'}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aries E-mail</title>
    <link href="css/home.css" rel="stylesheet" type="text/css"/>
{{/section}}

<h2>{{title}}</h2>

<div class="card">
<img src="images/Aries_ProfilePhoto_{{randomProfile}}.png" alt="Avatar" class="profileImage">
<div class="cardContainer">
    <h3>User</h3>
    <h4>{{user}}</h4>
</div>
</div> 

<table>
    <thead>
    <tr>
        <th>Sender ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Shame</th>
    </tr>
    <thead>
    <tbody>
    {{#each mails}}
    <form action="/readmail" method="POST">
        <tr>
            <td>{{this.from}}</td>
            <td>Arbitrary Title</td>
            <td>{{this.date}}<br>{{this.time}}</td>
            <input type="hidden" id="hash" name="hash" value={{this.hash}}/>
            <input type="hidden" id="from" name="from" value={{this.from}}/>
            <td><button type="submit">Open Mail</button></td>
        </tr>
    </form>
    {{/each}}
    <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tfoot>
    </tbody>
</table>